body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h2 {
    color: darkblue;
}

form {
    margin: 10px 0;
}

.gain {
    color: green;
}

.loss {
    color: red;
}

.activities {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
    height: 200px;
    overflow-y: scroll;
}

.buttons {
    display: flex;
    gap: 15px;
}

.disabled {
    opacity: 0.6;
    pointer-events: none;
}
.box{
    border: 2px solid black;
    width: 400px;
    height: 400px;
    text-align: center;
}
.submain{
    display: flex;
    justify-content: space-between;
}