<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Time</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'display_app/css/style.css' %}">
    <script src="{% static 'display_app/js/script.js' %}"></script>
</head>
<body>
    <div class="main">
    <p> The current time and Date</p>
    <!---
    <div class="date">
        {{ time }}
    </div>
    -->
    <div class="date" id="time" ></div>
    </div>
</body>
</html>