<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorit Books</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
    <div class="main">
        <div class="right-side">
            <h1>Registration</h1>
            <form action="/create_user" method="post">
                {% csrf_token %}
                <div>
                    <label for="first_name">First Name</label>
                    <input type="text" name="first_name">
                </div>
                <div>
                    <label for="last_name">Last Name</label>
                    <input type="text" name="last_name">
                </div>
                <div>
                    <label for="email">email</label>
                    <input type="text" name="email">
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" name="password">
                </div>
                <div>
                    <label for="confirm_pw">confirm password</label>
                    <input type="password" name="confirm_pw">
                </div>
        
        <button type="submit"> Register</button>
        </form>
    </div>
    <div class="left-side">
        <h1>Login</h1>
        <form action="/login" method="post">
             {% csrf_token %}
            <div>
                <label for="email">Email</label>
                <input name="email">
            </div>
            <div>
                <label for="password"> password</label>
                <input type="password" name="password">
            </div>
            <button type="submit">Log in</button>
        </form>
    </div>
    </div>
    {% if messages %}
    {% for message in messages %}
    <div class="alert 
      {% if message.tags == 'error' %} alert-danger
      {% elif message.tags == 'success' %} alert-success
      {% else %} alert-info {% endif %}">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
</body>

</html>